.App {
  text-align: center;
}
.closedSquare {
  outline: none;
  border: 1px solid #84b539;
  background: #76a333;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.openSquare {
  outline: none;
  background: #FFDC7D;
  font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
  color: #2f80eb; 
  font-size: 15px;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.border-row-top {
  height:auto;
  width:auto;
  display: flex;
  justify-content: center;
}
.border-row {
  height:auto;
  width:auto;
  display: flex;
  justify-content: center;
}
.border-row-bottom {
  padding-bottom: 10px;
  height:auto;
  width:auto;
  display: flex;
  justify-content: center;
}

.game-board {
  height:auto;
  width:auto;
  display: flex;
  justify-content: center;
}
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: green;
}
.entire-game {
  border: 1px solid black;
  width: 560px;
  background: green;
  margin: 0 auto;
}
.gameover-alert {
  padding: 5px;
}

